.table {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  max-width: 900px;
  padding-right: 50px;
}

.label {
  display: inline-block;
  width: 300px;
  font-weight: bold;
  text-align: right;
  padding-right: 30px;
}
.field {
  width: 100%;
}
.p {
  color: red;
  text-align: left;
  margin: 5px 0 0 0;
}
.p::before {
  display: inline;
}
.materialUIInput {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.submit {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .changepass {
    padding-top: 20px;
  }
  .table {
    display: block;
    padding: 0 10px;
  }
  .label {
    width: 100%;
    text-align: left;
  }
}
