.Exchange {
  margin-bottom: 20px;
  border-bottom: 1px solid #7e97a7;
  border-top: 0;
}

.Exchange:empty {
  display: none;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #0c92a5;
}

.box {
  color: #fff;
  font-weight: 700;
  padding: 5px 40px 5px 10px;
  position: relative;
  background: #067e8f;
  border-top-right-radius: 15px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  margin-top: -2px;
}

.name {
  font-weight: 700;
}

.betGrid {
  padding: 0;
  border-left: 1px solid #c8ced3;
  border-right: 1px solid #c8ced3;
  border-top: 1px solid #7e97a7;
  background: #fff;
  position: relative;
}

.betGridAttributes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.betNameWarpper {
  padding: 5px;
  padding-right: 20px;
  width: calc(100% - 280px);
  position: relative;
}

.book {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-weight: bold;
}

.backLayWrapper {
  display: flex;
  width: 280px;
}

.head {
  display: flex;
  justify-content: flex-end;
  border-left: 1px solid #c8ced3;
  border-right: 1px solid #c8ced3;
  background-color: #fff;
}

.headTitle {
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  border-left: 0;
  font-weight: bold;
  width: 85px;
  padding: 8px;
  text-align: center;
}

.titleBack {
  background-color: #faa9ba;
}

.titleLay {
  background-color: #72bbef;
}

.suspended {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  color: #ffffff;
  font-weight: bold;
}

.element {
  width: 85px;
  text-align: center;
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.25s ease all;
}

.price {
  font-weight: bold;
}

.size {
  font-size: 12px;
}

.lay3 > div {
  background-color: #f6e6ea;
}

.lay2 > div {
  background-color: #efd3d9;
}

.lay1 > div {
  background-color: #faa9ba;
}

.activeLay {
}

.back3 > div {
  background-color: #d7e8f4;
}

.back2 > div {
  background-color: #b7d5eb;
}

.back1 > div {
  background-color: #72bbef;
}

.activeBack {
}

.maxMin {
  width: 110px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  order: 3;
  font-size: 11px;
}

.maxMin span:last-child {
  color: #df5151;
}

.maxMinWide {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.profitLoss span {
  margin-right: 5px;
  font-weight: bold;
}

.loss {
  color: #b21318;
}

.profit {
  color: #238f21;
}

.highlight {
  background: rgba(255, 250, 250, 0.75) !important;
}

.infoWrapper {
  position: absolute;
  right: -5px;
  top: 0;
  bottom: 0;
  padding: 5px 15px;
  background: url("../../../../../../assets/bg-fanctbet_rules.svg") no-repeat;
  background-size: cover;
}

.info {
  font-size: 14px;
  vertical-align: bottom;
  cursor: pointer;
}

.maxMinMobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .title {
  }

  .maxMin {
    order: 0;
    width: calc(100% - 132px);
  }

  .head {
    padding-right: 0;
    margin-bottom: 0;
  }

  .betNameWarpper {
    width: calc(100% - 120px);
  }

  .backLayWrapper {
    width: 120px;
  }

  .back2,
  .back3,
  .lay2,
  .lay3,
  .maxMinWide {
    display: none;
  }

  .element,
  .headTitle {
    width: 60px;
    border-radius: 0 !important;
  }

  .size {
    font-size: 11px;
  }

  .maxMinDesktop {
    display: none;
  }

  .maxMinMobile {
    display: block;
    background-color: #bed5d8;
    font-size: 10px;
    line-height: 1;
    border-radius: 3px;
    margin: 7px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }
}
