.placeOrder {
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  border-top: 1px solid #7e97a7;
}

.restrict {
  pointer-events: none;
}

.placeBetOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.title {
  padding: 10px;
  background-color: #4a4a4a;
  margin: -10px -10px 0 -10px;
  color: #ffffff;
}

.orderPanel {
  display: flex;
  align-items: center;
}

.odds {
  width: 50%;
}

.orderQuantity {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.orderQuantity button,
.odds span {
  display: inline-block;
  padding: 11px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid #aaa;
  background: linear-gradient(-180deg, #fff 0, #eee 89%);
  color: #1f71ab;
  border-radius: 8px;
}

.orderQuantity button:first-child {
  border-radius: 8px 0 0 8px;
}

.orderQuantity button:last-child {
  border-radius: 0 8px 8px 0;
}

.odds span {
  font-weight: bold;
  color: #000;
}

.orderQuantity input {
  height: 40px;
  min-height: 34px;
  font-size: 16px;
  padding-right: 2px;
  font-weight: 700;
  padding-left: 1px;
  color: #000;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 0;
  border-right: 0;
  text-align: center;
}

.stakes {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.stakeElement {
  flex: 1 0 33.33%;
  padding: 0 5px;
}

.stakeElement button {
  height: 35px;
  text-align: center;
  font-size: 11px;
  background: linear-gradient(-180deg, #fff 0, #eee 89%);
  border: 1px solid #333;
  color: #000;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
}

.acceptBox {
  margin: 5px 0 10px;
}

.action {
  display: flex;
  margin: 0 -5px;
}

.action > div {
  width: 50%;
  padding: 0 5px;
}

.action > div button {
  width: 100%;
}

.cancel,
.place {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  background: linear-gradient(-180deg, #fff 0, #eee 89%);
  border: 1px solid #333;
  color: #000;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  height: 40px;
  min-width: 110px;
}

.place {
  background: linear-gradient(-180deg, #315195 0%, #14213d 100%);
  color: #fff;
}

.place:disabled {
  pointer-events: none;
  background: #c5c3c3;
  color: #e6dfcd;
}

.back {
  background-color: #d7e8f4;
}

.lay {
  background-color: #f6e6ea;
}

@media screen and (min-width: 768px) {
  .orderPanel {
    justify-content: flex-end;
  }

  .orderPanel > * {
    margin-left: 30px;
  }

  .stakeElement {
    flex: 1 1 auto;
  }

  .orderQuantity,
  .odds {
    width: auto;
  }

  .action {
    display: none;
  }

  .stakes {
    padding: 5px 0 0;
  }
}
